<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles/main.css" type="text/css"> -->
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link href="images/davincryptex.ico" rel="icon" type="image/x-icon">
    <!--Thanks to Markus Spiske @markusspiske on Unsplash.com for the use of his cryptography image used for the background-->

    <title>Caesar Cipher</title>
</head>

<body>
    <div id="navbar">
        <div class="titlepos">
            <h1>Caesar Cipher</h1>
        </div>
        <!-- <div class="linkpos"><a href="index2.html" class="links"> >> Reverse Cipher</a></div> -->
        <div class="linkpos"><a href="index2" class="links"> >> Reverse Cipher</a></div>

    </div>

    <div id="container">
    <button class="randombutton" type="button" onclick="codec()">Change Mode</button><br>
    <div id="container1" style="display:block">
        <h3>Plain text to cypher</h3>
        <textarea class="textform" id="plain-text" rows="5" placeholder="Enter plain text here"></textarea><br><br>
        <input type="number" min="0" max="25" class="keyentry" id="my-key" placeholder="KEY (1 - 25 or press Random)">
        <button class="randombutton" type="button" onclick="randomInt()">Random</button>
        <button class="button" type="button" onclick="encrypt()">Encrypt!</button>
</div>
<div id="container2" style="display:none">
        <h3>Decrypt cipher text</h3>
        <textarea class="textform" id="cipher-text" rows="5" placeholder="Enter encrypted text - correct key is required above"></textarea><br><br>
        <input type="number" min="0" max="25" class="keyentry" id="my-key1" placeholder="KEY (1 - 25)">
        <button type="button" class="button" onclick="decrypt()">Decrypt!</button>
</div>
        <h3>Output text</h3>
        <textarea readonly class="textform" id="original-text" rows="5"></textarea><br><br>

        <div class="centre">
            <button class="button" type="button" onclick="resetCaesar()">RESET</button><br>
        </div>
    </div>
    <div id="footer">copyright 2019: Gary Peaston: Web Technologies Module SET08401: Napier University</div>

    <script type="text/javascript" src="scripts/scripts.js"></script>



</body>

</html>
