doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/main.css', type='text/css')
    link(href='images/davincryptex.ico', rel='icon', type='image/x-icon')
    // Thanks to Markus Spiske @markusspiske on Unsplash.com for the use of his cryptography image used for the background
    title Login
  body
    #navbar
      .titlepos
        h1 Login Page  
      // <div class="linkpos"><a href="index2.html" class="links"> >> Reverse Cipher</a></div>