doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/main.css', type='text/css')
    link(href='images/davincryptex.ico', rel='icon', type='image/x-icon')
    // Thanks to Markus Spiske @markusspiske on Unsplash.com for the use of his cryptography image used for the background
    title Account Login
  body
    #navbar
      .maintitlepos
        h1 Login to Your Account  
      // <div class="linkpos"><a href="index2.html" class="links"> >> Reverse Cipher</a></div>
      //- #maincontainer
      //- .linkpos - MIGHT HAVE TO PUT THIS BACK IN FOR SPACING
        //- a.links(href='/caesar')  &gt;&gt; Caesar Cipher
    #container
      //- button.button(type='button', onclick='codec()') Change Mode
      br
      br
      br
      br
      .centre
        form(action='/team_name_url/', method='post')
        label(for='team_name') Enter your username:      
        input#team_name(type='text', name='name_field', value='')
        br
        br
        form(action='/team_name_url/', method='post')
        label(for='team_name') Enter your password:      
        input#team_name(type='password', name='pword_field', value='')
        br
        br
        br
      .centre
        button.button(type='button', onclick='resetRev()') Login
        br
        br
        br
    #footer
      | copyright 2019: Gary Peaston: Web Technologies Module SET08401: Napier University
      .linkpos
        a.links(href='/')  &gt;&gt; Home
    // closes out the div called container
    script(src='scripts/scripts.js')