html
    head
        title PluralApp
    body(class=["PluralClass"])
        h1(id='PluralId')=title
        p
            h3 sub header 
        ul
            each val in list
                li= val    